<div class="sign-in-page text-center">
  <section class="login-section">
    <h1>Sign in</h1>

    <small>
      You must sign in with your
      <a href="http://alliants.com" target="_blank">Alliants</a> email address:
    </small>

    <%= link_to user_omniauth_authorize_path(:google_oauth2),
      class: 'btn btn-block btn-social btn-google-plus' do %>
      <%= fa_icon('google-plus') %> Sign in with Google+
    <% end %>

    <small>
      Signing in will automatically register you to receive newsletters for the
      coding club.
    </small>
  </section>
</div>
