<section style="margin:auto;max-width:300px;padding-top:50px">
  <h1>Login</h1>
  <p>Please log in to view the application</p>

  <%= link_to user_omniauth_authorize_path(:google_oauth2),
    class: 'btn btn-block btn-social btn-google-plus' do %>
    <%= fa_icon('google-plus') %> Sign in with Google+
  <% end %>
</section>
