<% provide(:skip_header, true) %>

<%= render 'layouts/large_header' %>

<div class="sign-in-page">
  <section class="login-section">
    <p>
      You must be logged in to view this application.
    </p>

    <%= link_to user_omniauth_authorize_path(:google_oauth2),
      class: 'btn btn-block btn-social btn-google-plus' do %>
      <%= fa_icon('google-plus') %> Sign in with Google+
    <% end %>

    <small>
      Currently, only Gmail accounts associated with the Alliants organisation can
      be accepted.
    </small>
  </section>
</div>
