.sign-in-page {
  .login-section {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    max-width: 600px;
  }

  .btn-google-plus {
    display: block;
    max-width: 300px;
    margin: 25px auto;
  }
}
