<div class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Update an Event</h1>

      <%= render 'form', event: @event, submit_text: 'Update' %>
    </section>
  </div>
</div>
