<div class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Schedule an Event</h1>

      <%= render 'form', event: Event.new, submit_text: 'Submit' %>
    </section>
  </div>
</div>
