.large-header {
  background-color: $primary-color;
  color: $icon-color;
  overflow: hidden;
  padding: 40px 0;

  .logo img {
    max-width: 250px;
  }

  .matrix-text-container {
    display: block;

    .matrix-text {
      float: left;
      font-weight: 300;
      color: white;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
      padding-left: 80px;
      overflow: hidden;
    }
  }
}

.navbar .navbar-brand {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}
