.large-header {
  text-transform: uppercase;
  background-color: $primary-color;
  color: $icon-color;
  padding: 50px 30px 10px 30px;
  overflow: hidden;

  .brand {
    color: $icon-color;
    margin: 0;
    float: left;
    width: 380px;
    font-weight: 300;
    font-family: $font-family-sans-serif;
    font-size: 52px;
    line-height: normal;
  }

  .matrix-text-container {
    margin-left: 380px;
    display: block;

    .matrix-text {
      float: left;
      font-weight: 300;
      color: white;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}

.navbar .navbar-brand {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}
