<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= @newsletter.subject %></title>
</head>
<body style="margin: 0; background-color: #ccc;">
  <table style="margin: auto; width: 600px; border-collapse: collapse;">
    <thead style="background-color: #990000; height: 50px; color: white; font-family: 'Helvetica'">
      <tr>
        <th style="padding: 0"><%= image_tag newsletter_header_image_url %></th>
      </tr>
      <tr>
        <th style="font-weight: 300; padding: 18px; letter-spacing: 2px"><%= @newsletter.subject.upcase %></th>
      </tr>
    </thead>
    <tbody style="background-color: #E9E9E9; color: #666666; font-family: 'Courier'; font-size: 14px">
      <tr>
        <td style="padding: 30px">
          <%= NewsletterPresenter::markdown_to_html(@newsletter.body).html_safe %>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
