<header class="large-header">
  <div style="overflow:hidden">
    <a class="brand" href="/">
      Alliants
      <br />
      Coding Club
      <br />
      App
    </a>

    <div class="col-xs-hidden matrix-text-container">
      <pre class="matrix-text"></pre>
    </div>
  </div>
</header>
