<header class="large-header">
  <div style="overflow:hidden">
    <h1>
      <a href="/">
        Alliants
        <br />
        Coding Club
        <br />
        App
      </a>
    </h1>

    <div class="col-xs-hidden matrix-text-container">
      <pre class="matrix-text"></pre>
    </div>
  </div>
</header>
