<header class="large-header">
  <div style="overflow:hidden">
    <span class="brand">
      Alliants
      <br />
      Coding
      <br />
      Club
    </span>

    <div class="col-xs-hidden matrix-text-container">
      <pre class="matrix-text"></pre>
    </div>
  </div>
</header>
