// http://www.materialpalette.com/red/blue-grey
$dark-primary-color: #D32F2F;
$primary-color: #E8443A;
$light-primary-color: #FFCDD2;
$icon-color: #FFFFFF;
$accent-color: #6C6D6C;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
